<form id="submission-form" method="POST" action="/api/vi/submissions" enctype="multipart/form-data">
	{{input type="text" name="title" placeholder="Submission Title"}}
	{{input type="text" name="author" placeholder="Author (ex: Adam Smith)"}}
	{{textarea name="description"}}
	<label for="file">We accept JPGs, PNGs, and MP4s up to 30MB</label>
	{{input id="submission-file" name="submission-file" type="file"}}
	{{input type="submit" value="Submit"}}
</form>