<div class="container">
	<h1>Create New Submission</h1>
	
	<form {{action 'create' on='submit' enctype="multipart/form-data"}}>
		{{input type='text' name='title' placeholder='Submission Title'}}
		{{input type='text' name='author' placeholder='Author (ex: Adam Smith)'}}
		{{textarea name='description'}}
		<label for="file">We accept JPGs, PNGs, and MP4s up to 30MB</label>
		{{input type='file' name='submission-file'}}
		<input type="submit">
	</form>
</div>